
.border{
  border-bottom: solid 1px;
  color: darkgray;
}
.wap-comment{
  text-align: right;
  padding: 0.5rem;
}
/*.main-panel{
  background-color: #fff;
  padding: 2rem;
  border-radius: 20px;
  margin-bottom: 50px;
}
*/


@media only screen and (max-width: 600px) {
  .row .col{
    padding: 0.5rem;
  }
  .date_link .col {
    padding: 0;
  }
  .date_link {
    font-size: 0.5em;
  }
  .event-title{
    text-align: center;
  }
  .title{
    font-size: 1.2em;
  }
  .event-image{
    padding-top: 0.5rem;
  }
  .text-area{
    font-size: 0.6em;
    letter-spacing: 1.3px;
    line-height: 1.3rem;
    padding: 0.75rem;
    margin-top: 30px;
  }
  .schedule{
    padding-top: 1rem;
  }
  .join-button{
    margin: 30px 0;
  }
  .join{
    font-size: 0.6em;
  }
  .collapsible-body{
    font-size: 0.9em;
  }
  .comment-submit{
    font-size: 0.6em;
  }
  .collection{
    font-size: 0.6em;
  }
}

@media only screen and (min-width: 601px) {
  .event-image {
    padding: 1rem;
  }
  .image-box{
    padding: 0 3rem;
  }
  .main-contents-text {
    padding: 2rem;
    letter-spacing: 3px;
    line-height: 1.7em;
    font-size: 0.95em;
  }
  .event-title {
    text-align: center;
    font-size: 2em;
    letter-spacing: 1px;
    width: 100%;
    height: auto;
    margin: 50px 0;
  }
  .date_link{
    font-size: 0.9em;
    color: darkgray;
  }
  .schedule{
    padding: 2rem;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: right;
  }
  .comment-submit{
    font-size: 0.7em;
  }
  .event-info{
    margin-top: 1rem;
  }
  .join-button{
    margin: 50px 0;
  }
  .join{
    width: 250px;
    height: 54px;
    line-height: 54px;
  }
}
