
.card-stacked a{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card-action{
  display: flex;
}
.join p{
  line-height: 30px;
}
.tags{
  position: absolute;
  right: 0;
  margin-right: 5px;
}

@media only screen and (max-width: 800px) {
  .people{
    float: right;
  }
  .title{
    font-size: 1.5rem;
    color: darkgray;
    margin-bottom: 50px;
  }
  .card-sentence{
    font-size: 0.8em;
    letter-spacing: 1px;
    line-height: 1.1rem;
  }
  .card-action{
    font-size: 0.65em;
  }
  .select-wrapper input.select-dropdown{
    font-size: 0.8em;
  }
  div.c_but{
    float: right;
  }
  .btn-floating.btn-large {
    width: 40px;
    height: 40px;
  }
  .btn-floating.btn-large i {
    line-height: 40px;
  }
  .btn-large i {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 801px) {
  .people{
    float: right;
  }
  .card-sentence{
    font-size: 0.95em;
  }
  .title{
    font-size: 2.5rem;
    color: darkgray;
    margin-bottom: 50px;
  }
  div.c_but{
    float: right;
  }
}
