
.title{
  font-size: 2rem;
  color: darkgray;
}



@media only screen and (max-width: 800px) {
  .people{
    float: right;
  }
}

@media only screen and (min-width: 801px) {
  .date{

  }
  .people{
    float: right;
  }
}
