
@media only screen and (max-width: 992px) {
  .com-text{
    font-size: 1.5em;
    color: darkgray;
  }

  .done-btn{
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    margin-top: 50px;
  }

}


@media only screen and (min-width: 993px) {

  .com-text{
    font-size: 2em;
    color: darkgray;
  }

  .done-btn{
    width: 200px;
    height: 54px;
    line-height: 54px;
    font-size: 15px;
    margin-top: 50px;
  }

}
