@media only screen and (max-width: 992px) {
  .clear-btn{
    margin: 25px 25px 25px 0;
  }
  .done-btn{
    margin: 25px 0 25px 25px;
  }
  .username{
    text-align: center;
  }
  .input-area{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .input-area-other{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  input[type=text]:not(.browser-default){
    border: 1px darkgray solid;
  }
  .input-text{
    border: 1px darkgray solid;
  }
  .image-edit{
    width: 100px;
    height: 100px;
  }
  .file-field .btn{
    float: none;
  }
  .btn-wap{
    margin-top: 1rem;
  }
  .prf-image{
    margin-bottom: 50px;
  }
  .image-btn{
    width: 130px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
  }
  .back-btn{
    font-size: 12px;
    margin-top: 50px;
    margin-right: 25px;
  }
  .submit-btn{
    font-size: 12px;
    margin-top: 50px;
    margin-left: 25px;
  }


}


@media only screen and (min-width: 993px) {
.username{
  text-align: center;
}
.input-area{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.input-area-other{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
input[type=text]:not(.browser-default){
  border: 1px darkgray solid;
}
.input-text{
  border: 1px darkgray solid;
}
.clear-btn{
  width: 50px;
  height: 50px;
  font-size: 50px;
  margin: 50px 50px 50px 0;
}
.done-btn{
  width: 50px;
  height: 50px;
  font-size: 50px;
  margin: 50px 0 50px 50px;
}
.image-edit{
  width: 150px;
  height: 150px;
}
.file-field .btn{
  float: none;
}
.btn-wap{
  margin-top: 1rem;
}
.prf-image{
  margin-bottom: 50px;
}
.back-btn{
  width: 200px;
  height: 54px;
  line-height: 54px;
  font-size: 15px;
  margin-top: 50px;
  margin-right: 50px;
}
.submit-btn{
  width: 200px;
  height: 54px;
  line-height: 54px;
  font-size: 15px;
  margin-top: 50px;
  margin-left: 50px;
}


}
