
#main{
  margin-top: 120px;
}
.tabs{
  background-color: none;
}
.link{
  float: left;
}
.color{
  color: black;
}
.comment{
  position: absolute;
    bottom: 0;
    right: 0;
  width: 100%;
}
.collection{
  margin: 0;
}
.card-stacked a{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


@media only screen and (max-width: 992px) {
  .row .col.s6{
    width: 100%;
  }
  .image{
    height: 100px;
    width: 100px;
    margin-left: 75px;
  }
  .username h1{
    font-size: 25px;
    letter-spacing: 3px;
    margin-top: 1.1rem;
  }
  .follow-button{
    margin: 0.3rem;
  }
  .item{
    font-size: 20px;
  }
  .item-sub{
    font-size: 15px;
  }
  .prf-content{
    margin-bottom: 0.5rem;
  }
  .prfbox{
    margin-bottom: 1.5rem;
  }
  .prf{
    margin-top: 0.75rem;
  }
  .prf-text{
    margin-top: 0.75rem;
  }
  .border{
    border-bottom: solid 1px;
    color: darkgray;
  }
  .wap{
    margin-top: 2rem;
  }
  .card-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tags{
    display: flex;
  }
  .chip:first-child{
    margin-right: 8px;
  }
  .chat-btn{
    margin: 25px 25px 25px 0;
  }
  .add-btn{
    margin: 25px 0 25px 25px;
  }
}

@media only screen and (min-width: 993px) {
  .image{
    height: 150px;
    width: 150px;
    margin-left: 100px;
  }
  .profile{
    margin: 50px 0 50px 0;
  }
  .add-btn{
    width: 50px;
    height: 50px;
    font-size: 50px;
    margin: 50px 0 50px 50px;
  }
  .chat-btn{
    width: 50px;
    height: 50px;
    font-size: 50px;
    margin: 50px 50px 50px 0;
  }
  .username h1{
    font-size: 35px;
    letter-spacing: 3px;
    margin-bottom: 5rem;
  }
  .prf{
    margin-top: 1.1rem;
    text-align: center;
  }
  .prf-text{
    margin-top: 1.1rem;
  }
  .text{
    font-size: 0.9em;
    letter-spacing: 1px;
    margin-top: 50px;
  }
  .follow-button{
    margin: 1rem;
  }
  .item{
    font-size: 20px;
  }
  .item-sub{
    font-size: 15px;
  }
  .wap{
    margin-top: 3rem;
  }
  .card-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tags{
    display: flex;
  }
  .chip:first-child{
    margin-right: 8px;
  }
  .border{
    border-bottom: solid 1px;
    color: darkgray;
    margin-top: 1rem;
  }
}

}
