
@media only screen and (min-width: 0px) and (max-width: 600px){
  #main{
    margin-top: 80px;
  }
  div.title p{
    font-size: 25px;
    color: darkgray;
  }
  .row .input-field.col.s6{
    width: 100%;
  }
  div.input-field.rap{
    margin-left: 20%;
    margin-right: 3%;
  }
  .btn{
    background-color: darkgray;
    margin-top: 30px;
  }
}


@media only screen and (min-width: 601px) {
  div.title p{
    font-size: 30px;
    color: darkgray;
  }
  .row_content{
    text-align: center;
  }
  form.col.s12{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    width: 45%;
  }
  div.input-field.rap{
    margin-left: 10%;
  }
  .input-field .prefix.active{
    color: darkgray;
  }
  .row .input-field.col.s6 {
    margin-left: auto;
  }
  .btn{
    background-color: darkgray;
    margin-top: 30px;
  }
}
