
@media only screen and (min-width: 0px) and (max-width: 600px){
  form.col.s12{
    line-height: 4.5;
  }
  .row .input-field.col.s6{
    width: 100%;
  }
  .btn{
    background-color: darkgray;
    margin-top: 30px;
  }
}


@media only screen and (min-width: 601px) {
  .row_content{
    text-align: center;
    margin-top: 10%;
  }
  form.col.s12{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    width: 45%;
    line-height: 4.5;
  }
  .row .input-field.col.s6 {
    margin-left: auto;
  }
  .btn{
    background-color: darkgray;
    margin-top: 30px;
  }
}


.none {
  display: none;
}