@media only screen and (min-width: 601px) {
  .row_content{
    text-align: center;
    margin-top: 10%;
  }
  form.col.s12{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    width: 45%;
  }
  .row .input-field.col.s6 {
    margin-left: auto;
  }
  .btn{
    background-color: #009688;
  }
}

@media only screen and (max-width: 600px) {
  .row .input-field.col.s6{
    width: 100%;
  }
}
