
.sub-content li{
  display: inline-block;
}
.card-action{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tags{
  display: flex;
}
.chip:first-child{
  margin-right: 8px;
}

@media only screen and (max-width: 600px) {
  #main{
    margin-top: 100px;
  }
  .sub-content-3{
    float: right;
  }
  .title{
    font-size: 1.3rem;
    color: darkgray;
  }
  .edit-form{
    margin-bottom: 0.5rem;
  }
}

@media only screen and (min-width: 601px) {
  .title{
    font-size: 2rem;
    color: darkgray;
  }
  .sub-content-3{
    float: right;
  }
  .edit-form{
    margin-bottom: 0.5rem;
  }
  .delete-form{
    margin-top: 0.5rem;
  }
  .del-btn{
    width: 250px;
    height: 54px;
    line-height: 54px;
  }
}
