
/*main*/

.title{
  font-size: 2.5em;
  color: darkgray;
  letter-spacing: 10px;
}
.title-box{
  margin-bottom: 3rem;
}
.main-content{
  background-color: #fff;
  margin: 1rem;
}
.th-box{
  background-color: slategrey;
  color: #fff;
  padding: 0.1rem;
  text-align: center;
  width: 35%;
  vertical-align: middle;
  letter-spacing: 6px;
}
.td-box{
  padding: 2rem;
  width: 65%;
}
table,td,th{
  border: 1px #fff solid;
}
.btn-box{
  margin-top: 3rem;
  margin-bottom: 10rem;
}
.back-btn{
  width: 250px;
  height: 54px;
  line-height: 54px;
  letter-spacing: 20px;
  text-indent: 20px;
}
.edit-btn{
  width: 250px;
  height: 54px;
  line-height: 54px;
  letter-spacing: 20px;
  text-indent: 20px;
}
.input-field{
  margin: 0;
}

/* 通知詳細 */
.wap-comment{
  text-align: right;
  margin-right: 10px;
  margin-bottom: 8px;
}
.l-title{
  font-size: 25px;
  margin: 1rem 0;
}
.log-text{
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 3px;
  border-bottom: 1px darkgray solid;
}
