
/*main*/
.title{
  font-size: 2em;
  color: darkgray;
}
.title-box{
  margin-bottom: 2rem;
}
.main-content{
  background-color: #fff;
  /*border-radius: 10px;*/
  padding: 1rem;
}
.tb-table{
  letter-spacing: 2px;
}
.tb-title{
  padding: 0.5rem;
}
.tb-text{
  padding: 0.5rem;
}
.tb-btn{
  text-align: center;
}
tr{
  cursor:pointer;
}
tr:hover{
  background:#ccc
}

.del-btn{
  margin: 10px;
}
.table-wrp::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 50, .5);
  border-radius: 10px;
  box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
}
.table-wrp{
  width: 100%;
  height: 700px;
  overflow: auto;
}

/* alert message */
.success{
  background-colo: red;
}
.danger{
  background-color: blue;
}
.display_none{
  disp: none;
}
.display_on{
  display: block;
}
