
/*heder*/

header{
  z-index: 998;
}
.nav-wrapper{
  color: #fff;
}
@media only screen and (min-width: 993px) {
.button-collapse{
  display: none;
}
}

nav{
  background-color: #fff;
}
nav a{
  color: darkgray;
}
.links{
  color: darkgray;
}
.brand-logo{
  color: darkgray;
  margin-left: 10px;
}

/* body */
body{
  background-color: #ECEEF2;
}
#main{
  min-height: 100%;
  margin-top: 80px;
  margin-bottom: -50px;
}

@media only screen and (max-width: 600px) {
  #main{
    margin-top: 120px;
  }
  .push{
    height: 20px;
  }
}
