
/*heder*/

header{
  z-index: 998;
}
.nav-wrapper{
  color: #fff;
}
@media only screen and (min-width: 993px) {
.button-collapse{
  display: none;
}
}

nav{
  background-color: #fff;
}
nav a{
  color: darkgray;
}
.links{
  color: darkgray;
}
.brand-logo{
  color: darkgray;
  text-indent: 2px;
  letter-spacing: 2px;
  font-weight: bold;
  margin-left: 10px;
}
.bread-rap{
  margin-left: 2rem;
}
.breadcrumb{
  color: darkgray;
}
.breadcrumb:last-child{
  color: #7f7f7f;
}
.breadcrumb:before{
  color: black;
}

/* body */
body{
  background-color: #ECEEF2;
}
#main{
  min-height: 100%;
  margin-top: 80px;
  margin-bottom: 100px;
}

@media only screen and (max-width: 600px) {
  #main{
    margin-top: 120px;
  }
  .push{
    height: 20px;
  }
}
