
/*
header, body, footer
*/

/* header */

header{
  position: relative;
  z-index: 998;
}
.nav-extended{
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #fff;
}
nav a{
  color: darkgray;
}
.brand-logo{
  color: darkgray;
}
@media only screen and (min-width: 0px) and (max-width: 600px){
  nav .brand-logo{
    color: darkgray;
  }
  div.login{
    display: none;
  }
  div.logout{
    display: none;
  }
}


@media only screen and (min-width: 601px){

  div.login{
    padding-right: 1.5rem;

  }
  div.logout{
    padding-right: 1.5rem;
  }
  li.in{
    display: none;
  }
  li.out{
    display: none;
  }
}


.tabs.tabs-transparent .tab a:hover, .tabs.tabs-transparent .tab a.active{
  color: black;
}
.tabs.tabs-transparent .tab a, .tabs.tabs-transparent .tab.disabled a, .tabs.tabs-transparent .tab.disabled a:hover{
  color: black;
}
.tabs.tabs-transparent .indicator{
  background-color: darkgray;
}

/* body */
  html, body{
    height: 100%;
    margin: 0;
    padding: 0;
  }
  body{
    background-color: #ECEEF2;
  }
  #main{
    min-height: 100%;
    margin-top: 140px;
    margin-bottom: -50px;
  }
  @media only screen and (max-width: 600px){
    #main{
      margin-top: 120px;
    }
  }
  .push{
    height: 20px;
  }


/* footer */
 .page-footer-another{
   width: 100%;
   color: #fff;
   background-color: darkgray;
   padding: 2%;
   margin-top: 50px;
 }
