
@media only screen and (min-width: 0px) and (max-width: 600px){
  .input-field {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  p{
    font-size: 30px;
    color: darkgray;
    text-align: center;
  }
  div.but{
    text-align: center;
  }
  a.waves-effect.waves-light.btn{
    background-color:  darkgray;
  }
  .page_title{
    padding-bottom: 50px;
  }
  .title{
    font-size: 1.5em;
    color: darkgray;
    letter-spacing: 10px;
    text-indent: 10px;
  }
}


@media only screen and (min-width: 601px) {
  .page_title{
    padding-bottom: 50px;
  }
  .title{
    font-size: 2.5em;
    color: darkgray;
    letter-spacing: 10px;
    text-indent: 10px;
  }
  div.content{
    position: relative;
  }
  form.col.s8{
    margin: auto;
  }
  form{
    width: 66%;
    margin-left: auto;
    left: auto;
    right: auto
  }
  .input-field {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  p{
    font-size: 30px;
    color: darkgray;
    text-align: center;
  }
  .input-field .prefix.active{
    color: darkgray;
  }
  label{
    font-size: 30px;
  }
  div.but{
    text-align: center;
    margin-top: 30px;
  }
  a.waves-effect.waves-light.btn{
    background-color:  darkgray;
    font-size: 20px;
  }
  .submit-btn{
    width: 250px;
    height: 54px;
    line-height: 54px;
  }
}
