
/* main */

nav ul a{
  color: black;
  font-size: 14px;
}
.card-text{
  letter-spacing: 1px;
  font-size: 0.95em;
}
.sort{
  padding-bottom: 1.2rem;
}
.showcounter{
  font-size: 1.1rem;
}
.card-action{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-content{
  height: 200px;
}
.tags{
  display: flex;
}
.chip{
  margin-right: 8px;
}

.card-stacked a{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
