
/* main */

nav ul a{
  color: black;
  font-size: 14px;
}
.card-text{
  letter-spacing: 1px;
  font-size: 0.95em;
}
.sort{
  padding-bottom: 1.2rem;
}
.showcounter{
  font-size: 1.1rem;
}
.card-action{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-content{
  height: 175px;
}
.tags{
  display: flex;
}
.chip{
  margin-right: 8px;
}
.card-stacked a{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 992px) {
  .tab_link{
    display: none;
  }
}

@media only screen and (min-width: 993px) {
  .card-image img{
    height: 200px;
  }
  .tab_link_drb{
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .card-image img{
    height: 230px;
  }
  .tab_link_drb{
    display: none;
  }
}
