@media only screen and (min-width: 0px) and (max-width: 600px){
  .page_title{
    padding-bottom: 50px;
  }
  .title{
    font-size: 1.5em;
    color: darkgray;
    letter-spacing: 10px;
    text-indent: 10px;
  }
  .btn-floating.btn-large {
    width: 40px;
    height: 40px;
  }
  .btn-floating.btn-large i {
    line-height: 40px;
  }
  .btn-large i {
    font-size: 1.5rem;
  }
  .input-field {
    margin-bottom: 3rem;
  }
  .row .input-field.col.s6{
    width: 100%;
  }
  .input-field .prefix.active{
    color: darkgray;
  }
  textarea.materialize-textarea {
    overflow-y: hidden;
    padding: .8rem 0 1.6rem 0;
    resize: none;
    min-height: 10rem;
}
  .back-btn{
    width: 135px;
    height: 48px;
    line-height: 48px;
    font-size: 15px;
    text-indent: 10px;
    letter-spacing: 10px;
    margin-top: 50px;
  }
  .creat-btn{
    width: 135px;
    height: 48px;
    line-height: 48px;
    font-size: 15px;
    text-indent: 10px;
    letter-spacing: 10px;
    margin-top: 50px;
  }
}


@media only screen and (min-width: 601px) {
  .page_title{
    padding-bottom: 50px;
  }
  .title{
    font-size: 2.5em;
    color: darkgray;
    letter-spacing: 10px;
    text-indent: 10px;
  }
  div.content{
    position: relative;
  }
  form.col.s10{
    margin: auto;
  }
  form{
    width: 66%;
    margin-left: auto;
    left: auto;
    right: auto
  }
  .input-field {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .input-field .prefix.active{
    color: darkgray;
  }
  label{
    font-size: 30px;
  }
  textarea.materialize-textarea {
    overflow-y: hidden;
    padding: .5rem 0 1.6rem 0;
    resize: none;
    min-height: 5rem;
}
  .back-btn{
    width: 200px;
    height: 54px;
    line-height: 54px;
    font-size: 15px;
    margin-top: 50px;
    margin-right: 50px;
    letter-spacing: 20px;
    text-indent: 20px;
  }
  .creat-btn{
    width: 200px;
    height: 54px;
    line-height: 54px;
    font-size: 15px;
    margin-top: 50px;
    margin-left: 50px;
    letter-spacing: 20px;
    text-indent: 20px;
  }
}
