
@media only screen and (min-width: 0px) and (max-width: 600px){
  .page-title {
    text-align: center;
    letter-spacing: 1px;
    width: 100%;
    height: auto;
  }
  .title{
    font-size: 1.5rem;
    margin: 25px 0;
    color: darkgray;
  }
  /*スクロール*/
    ::-webkit-scrollbar {
      width: 10px;
  }
  /*スクロールバーの軌道*/
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
  }
  /*スクロールバーの動く部分*/
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 50, .5);
    border-radius: 10px;
    box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .comi{
    width: 100%;
    height: 500px;
    overflow: auto;
  }
  .comment-area{
    width:100%;
    height:500px;
  }
  div.comment-area.col.s12{
    padding: inherit;
  }
  div.col.s12.m8.l8{
    width: 100%;
  }
  .side_contents.col.s12.m4.l3{
    width: 100%;
  }
  .wap-comment{
    text-align: right;
    padding: 0.5rem;
  }
  .comment-submit{
    font-size: 0.5em;
  }
  div.but{
    text-align: center;
    padding: 0.5em;
  }
  .submit{
    font-size: 0.5em;
    width: 10rem;
    height: 3rem;
    line-height: 3rem;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1100px) {
  #main {
    margin-top: 100px;
  }
  /*スクロール*/
    ::-webkit-scrollbar {
      width: 10px;
  }
  /*スクロールバーの軌道*/
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
  }
  /*スクロールバーの動く部分*/
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 50, .5);
    border-radius: 10px;
    box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
  }
  .comi{
    width: 100%;
    height: 600px;
    overflow: auto;
  }
  .comment-area{
    width:100%;
    height:800px;
  }
  div.comment{
    margin-top: 1.5rem;
  }
  div.col.s12.m8.l8{
    width: 100%;
  }
  .side_contents.col.s12.m4.l3{
    width: 100%;
  }
  .page-title {
    text-align: center;
    font-size: 25px;
    letter-spacing: 1px;
    width: 100%;
    height: auto;
  }
  .title{
    font-size: 2rem;
    margin: 40px 0;
    color: darkgray;
  }
  .wap-comment{
    text-align: right;
    padding: 0.5rem;
  }
  .comment-submit{
    font-size: 0.7em;
  }
  div.but{
    text-align: center;
    padding: 0.5rem;
  }
  .submit{
    font-size: 0.7em;
    width: 19rem;
    height: 3rem;
    line-height: 3rem;
  }
}

@media only screen and (min-width: 1101px) {

  /*スクロール*/
    ::-webkit-scrollbar {
      width: 10px;
  }
  /*スクロールバーの軌道*/
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
  }
  /*スクロールバーの動く部分*/
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 50, .5);
    border-radius: 10px;
    box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
  }
  .comi{
    width: 100%;
    height: 600px;
    overflow: auto;
  }
  .comment-area{
    width:100%;
    height:800px;
  }
  .page-title {
    text-align: center;
    font-size: 25px;
    letter-spacing: 1px;
    width: 100%;
    height: auto;
  }
  .title{
    font-size: 2rem;
    margin: 40px 0;
    color: darkgray;
  }

  /*sidebar*/
  .row .col.l3 {
    padding-bottom: 20px;
    margin-left: 1.5rem;
  }
  .comment{
    margin-top: 1.5rem;
  }
  .article-image {
    padding: 1rem;
  }
  .material-icons{
    margin-right: 1rem;
  }

  /* comment area */
  .wap-comment{
    text-align: right;
    padding: 0.5rem;
  }
  .comment-submit{
    font-size: 0.7em;
  }
  div.collapsible-body{
    padding: 1rem;
  }
  img.admi{
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
  }
  p.plink{
    line-height: 2.5rem;
  }

  div.but{
    text-align: center;
    display: flex;
  }
  .submit{
    width: 19rem;
    height: 3rem;
    line-height: 3rem;
  }
}
