
@media only screen and (min-width: 0px) and (max-width: 600px){

  div.row.col.s8{
    margin-top: 10rem;
  }
  div.content{
    position: relative;
  }
  p.text{
    font-size: 1.5em;
    color: darkgray;
    text-align: center;
  }
  div.row.col.s12{
    margin-top: 2rem;
  }
  button.waves-effect.waves-light.btn{
    background-color:  darkgray;
    font-size: 15px;
    height: 45px;
    width: 130px;
    line-height: 45px;
  }

}

@media only screen and (min-width: 601px) {

  div.row.col.s8{
    margin-top: 30%;
  }
  div.content{
    position: relative;
  }
  p.text{
    font-size: 2em;
    color: darkgray;
    text-align: center;
  }
  div.row.col.s12{
    margin-top: 3rem;
  }
  button.waves-effect.waves-light.btn{
    background-color:  darkgray;
    font-size: 20px;
    height: 54px;
    width: 200px;
    line-height: 54px;
  }
}
