.rap {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
  display: block;
}
.backlink {
  text-align: left;
  font-size: 25px;
}
.date_link {
  font-size: 0.9em;
}
.page-title {
  text-align: center;
  font-size: 25px;
  letter-spacing: 1px;
  width: 100%;
  height: auto;
}
.goodicon{
  color: darkgray;
}
.input-field{
  text-align: right;
}
.comment-submit{
  margin-right: 10px;
}
.border{
  border-bottom: solid 1px;
  color: darkgray;
}
.fav-btn{
  padding-right: 0.5rem;
}
.us-box{
  float: left;
  padding: 5px;
  display: inline-block;
}
.category-tag{
  display: inline-block;
}

@media only screen and (max-width: 991px) {
  #main {
    margin-top: 100px;
  }
  .row .col{
    padding: 0.5rem;
  }
  .title {
    font-size: 1em;
  }
  .article-image{
    margin-top: 30px;
  }
  .date_link .col {
    padding: 0;
  }
  .date_link {
    font-size: 0.5em;
    margin-bottom: 10px;
  }
  .main-image {
    width: 10%;
  }
  .text-area {
    font-size: 0.6em;
    letter-spacing: 1.3px;
    line-height: 1.3rem;
    padding: 0.75rem;
    margin-top: 30px;
  }
  .pager {
    text-align: center;
    padding-top: 70px;
  }
  /* comment-area */
  .comment-areasub{
    display: table;
    width: 100%;
    height: 7rem;
  }
  .comment-text{
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
  }
  .comment-field .row .col.s10{
    width: 100%;
  }
  .collection{
    font-size: 0.6em;
  }
  .wap-comment{
    text-align: right;
  }
  .comment-submit{
    font-size: 0.6em;
  }

  /* side-contents */
  .card-contents {
    padding: 10px;
  }
  .comment {
    margin-top: 15px;
  }
  .card-images img{
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }

}

@media only screen and (min-width: 992px) {
  .title{
    font-size: 2rem;
    margin: 40px 0;
  }
  .row .col.l9 {
    padding-bottom: 20px;
  }
  .row .col.l3 {
    padding-bottom: 20px;
  }
  .main-contents-text {
    padding: 2rem;
    letter-spacing: 3px;
    line-height: 1.7em;
    font-size: 0.95em;
  }
  .quote-site{
    margin-top: 50px;
    padding: 0 0 0 2rem;
    font-size: 0.5em;
  }
  .quote-url{
    margin-top: 5px;
    font-size: 0.5em;
    padding: 0 0 1rem 2rem;
  }
  .side-contents-text {
    letter-spacing: 1px;
    font-size: 0.9em;
    line-height: 1.7em;
  }
  .text-image {
    padding: 1rem;
    max-width: 90%;
  }
  .article-image {
    padding: 1rem;
  }
  .pager {
    text-align: center;
    padding-top: 50px;
    display: block;
  }
  .icon-button{
    margin: 20px 20px 50px 0;
  }
  /* comment area */
  .wap-comment{
    text-align: right;
  }
  .comment-submit{
    font-size: 0.7em;
  }

  /* side-contents */
  /*.card-panel {*/
    /*margin-top: 15px;*/
  /*}*/
  .card-contents {
    padding: 10px;
  }
  .side {
    width: 100%;
  }
  .card-images img{
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }
}
