
.rap{
  width: 100%;
  height: auto;
  padding-bottom: 50px;
  display: block;
}
.backlink{
  text-align: right;
}
.page-title{
  text-align: center;
  font-size: 25px;
  letter-spacing: 1px;
  width: 100%;
  height: auto;
}
.comment-area{
  background-color: #fff;
}
.row .col.s12{
  padding-bottom: 10px;  
}

@media only screen and (max-width: 600px){

  #main{
    margin-top: 100px;
  }
  .row .col{
    /*
    background-color: aqua;
    */
  }
  .text{
    height: 100%;
    margin-top: 30px;
    letter-spacing: 1px;
    line-height: 150%;
  }
  .pager{
    text-align: center;
    padding-top: 70px;
  }
}

@media only screen and (min-width: 601px){
  /*.row{
    background-color: #f5f5f5;
  }*/
  .row .col.l9{
    padding-bottom: 20px;
  }
  .row .col.l3{
    padding-bottom: 20px;
  }
  .row .col p{
    padding: 1.2rem;
    letter-spacing: 3px;
  }
  .article-image{
    padding: 1rem;
  }
  .pager{
    text-align: center;
    padding-top: 50px;
    display: block;
  }
  /* side-contents */
  .card-panel{
    margin-top: 15px;
  }
  .card-contents{
    padding: 10px;
  }
  .side{
    width: 100%;
  }
}
