.rap {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
  display: block;
}

.title {
  font-size: 40px;
}

.backlink {
  text-align: right;
  font-size: 25px;
}

.date {
  font-size: 25px;
}

.page-title {
  text-align: center;
  font-size: 25px;
  letter-spacing: 1px;
  width: 100%;
  height: auto;
}

.goodicon{
  color: darkgray;
}

.row .col.s12 {
  padding-bottom: 15px;
}

@media only screen and (max-width: 600px) {
  #main {
    margin-top: 100px;
  }
  .title {
    font-size: 30px;
  }
  .date_link .col {
    padding: 0;
  }
  .date {
    font-size: 20px;
  }
  .backlink {
    font-size: 20px;
  }
  .main-image {
    width: 10%;
  }
  .text {
    height: 100%;
    margin-top: 30px;
    letter-spacing: 1px;
    line-height: 150%;
    border-bottom: solid 2px;
  }
  .main-contents-text {
    padding: 1rem;
    font-size: 20px;
    letter-spacing: 1px;
  }
  .pager {
    text-align: center;
    padding-top: 70px;
  }
  /* comment-area */
  .comment-areasub{
    display: table;
    width: 100%;
    height: 7rem;
  }
  .comment-text{
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
  }
  /* side-contents */
  .card-contents {
    padding: 10px;
  }
  .comment {
    margin-top: 15px;
  }
}

@media only screen and (min-width: 601px) {
  /*.row{
    background-color: #f5f5f5;
  }*/
  .row .col.l9 {
    padding-bottom: 20px;
  }
  .row .col.l3 {
    padding-bottom: 20px;
  }
  .main-contents-text {
    padding: 2rem;
    letter-spacing: 3px;
    font-size: 20px;
  }
  .side-contents-text {
    letter-spacing: 1px;
  }
  .text-image {
    padding: 1rem;
    max-width: 90%;
  }
  .article-image {
    padding: 1rem;
  }
  .pager {
    text-align: center;
    padding-top: 50px;
    display: block;
  }
  /* comment area */
  .comment-areasub{
    display: table;
    width: 100%;
    height: 7rem;
  }
  .comment-text{
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
  }

  /* side-contents */
  .card-panel {
    margin-top: 15px;
  }
  .card-contents {
    padding: 10px;
  }
  .side {
    width: 100%;
  }
}
