
@media only screen and (max-width: 600px) {
  .title{
    font-size: 1.5rem;
    color: darkgray;
  }
  .image-area{
    width: 250px;
    height: 150px;
  }
  .back-btn{
    width: 100px;
    height: 40px;
    line-height: 40px;
  }
  .update-btn{
    width: 100px;
    height: 40px;
    line-height: 40px;
  }

}


@media only screen and (min-width: 601px) {

.title{
  font-size: 2rem;
  color: darkgray;
}
.image-area{
  width: 400px;
  height: 300px;
}
.back-btn{
  width: 200px;
  height: 54px;
  line-height: 54px;
}
.update-btn{
  width: 200px;
  height: 54px;
  line-height: 54px;
}

}
