@media only screen and (min-width: 0px) and (max-width: 600px){
  .input-field {
    margin-bottom: 3rem;
  }
  .row .input-field.col.s6{
    width: 100%;
  }
  .input-field .prefix.active{
    color: darkgray;
  }
  textarea.materialize-textarea {
    overflow-y: hidden;
    padding: .8rem 0 1.6rem 0;
    resize: none;
    min-height: 10rem;
}
  button.waves-effect.waves-light.btn{
    background-color:  darkgray;
    font-size: 15px;
  }
}


@media only screen and (min-width: 601px) {
  div.content{
    position: relative;
  }
  form.col.s10{
    margin: auto;
  }
  form{
    width: 66%;
    margin-left: auto;
    left: auto;
    right: auto
  }
  .input-field {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .input-field .prefix.active{
    color: darkgray;
  }
  label{
    font-size: 30px;
  }
  textarea.materialize-textarea {
    overflow-y: hidden;
    padding: .8rem 0 1.6rem 0;
    resize: none;
    min-height: 10rem;
}
  button.waves-effect.waves-light.btn{
    background-color:  darkgray;
    font-size: 15px;
  }
  .back-btn{
    width: 200px;
    height: 54px;
    line-height: 54px;
  }
  .submit-btn{
    width: 200px;
    height: 54px;
    line-height: 54px;
  }
  div.col.s6.right-align{
    padding-right: 2rem;
  }
  div.col.s6.left-align{
    padding-left: 2rem;
  }
}
